body {
    background-color: #c3b5ac;
    color: white;
    text-align: center;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

header {
    color: white;
    background: #854b3d;
    padding: 10px;
    font-size: 4vw;
    font-weight: 700;
    /* -webkit-text-stroke: 1px rgb(3, 24, 48); */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#external {
    display: flex;
}

.right {
    width: 30%;
    text-align: center;
    color: black;
}

.middle {
    width: 40%;
    text-align: center;
    /* background-color: #b2a59c; */
}

.left {
    background-color: #c3b5ac;
    float: left;
    width: 30%;
}

/* .btn {
    font-size: 1.3vw;
    background-color: rgb(209, 132, 93);
    padding: 20px;
    border-radius: 60%;
    border: 2px solid #854b3d;
    text-decoration: none;
    outline: none;
    cursor: pointer;
} */

/* 




p {
    font-size: 2vw;
    font-weight: 650;
} */